<!DOCTYPE html>
<html lang="pl">
    <head>
        <% include ../partials/head.ejs %>
        <link rel="stylesheet" href="/css/vendor/blueimp-gallery/blueimp-gallery.css">
        <link rel="stylesheet" href="/css/vendor/blueimp-gallery/blueimp-gallery-indicator.css">

        <title>Photos | Show</title>
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <% include ../partials/left-menu.ejs%>
                <% include ../partials/top-menu.ejs %>

                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Photos | Edit</h3>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <hr/>

                        <% if (photos.length > 0) { %>

                            <div id="links">

                                <% for (var i = 0; i < photos.length; i++) { %>

                                <a href="<%= photos[i].photoSrc %>" title="<%= photos[i].title %>" alt="<%= photos[i].alt %>">
                                    <img style="margin: 5px;" src="<%= photos[i].thumbnailSrc %>" alt="<%= photos[i].title %>">
                                </a>

                                <% } %>

                            </div>

                            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                                <div class="slides"></div>
                                <h3 class="title"></h3>
                                <a class="prev">‹</a>
                                <a class="next">›</a>
                                <a class="close">×</a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
                            </div>

                        <% } else { %>

                            <div class="jumbotron text-center">
                                <h1>There are no photos!</h1>
                            </div>

                        <% } %>

                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/scripts.ejs %>
        <script src="/js/vendor/blueimp-gallery/blueimp-gallery.js"></script>
        <script src="/js/vendor/blueimp-gallery/blueimp-gallery-fullscreen.js"></script>
        <script src="/js/vendor/blueimp-gallery/blueimp-gallery-indicator.js"></script>
        <script src="/js/vendor/blueimp-gallery/blueimp-helper.js"></script>
        <script>
            document.getElementById('links').onclick = function (event) {
                event = event || window.event;

                var target = event.target || event.srcElement,
                        link = target.src ? target.parentNode : target,
                        options = {index: link, event: event},
                        links = this.getElementsByTagName('a');

                blueimp.Gallery(links, options);
            };
        </script>
    </body>
</html>
